<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="col-md-offset-2 col-md-8 footer-left">
        <p class="foot">
          Realtime D-MON is an IOT based low-cost dust monitoring system that is 
          accessible through the web dashboard as well as its companion Android app.

          It is aimed towards improving the health and quality of life for UTHM students, by 
          providing accurate air quality data in a format as simple, intuitive and actionable 
          as weather data.
        </p>
        <br/><br/>
      </div>
      <div class="col-md-offset-2 col-md-8 footer-left text-center">
        <div class="thumbnail_container">
          <a href="https://github.com/Zyten/dmon-web.git" target="_blank">
            <img class="" alt="Fork me on Github" src="{{ "/assets/images/github-fork.png" | prepend: site.baseurl }}" style="height: 5em">
          </a>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <p class="footer-class">
      Copyright © 2016 
      <a href="http://github.com/Zyten/" target="_blank"></a>Ruban Selvarajah
    </p>
  </div>
  <a href="#" id="toTop" style="display: block;"> 
    <span id="toTopHover" style="opacity: 1;"> </span>
  </a>
</div>