<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicons/site.webmanifest" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/assets/favicons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#38aa9b">
  <link rel="shortcut icon" href="{{ "/assets/favicons/favicon.ico" | prepend: site.baseurl }}">
  <meta name="apple-mobile-web-app-title" content="R-DMON">
  <meta name="application-name" content="R-DMON">
  <meta name="msapplication-TileColor" content="#009b86">
  <meta name="msapplication-config" content="{{ "/assets/favicons/browserconfig.xml" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#009b86">

  {% if page.permalink == "/contact" %}
  <meta name="referrer" content="unsafe-url">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% else %}{% endif %}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.keywords }}" />

  <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ "/assets/css/owl.carousel.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">

  <link href="{{ "/assets/plugins/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>

  <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  {% include header.html %}

  {{ content }}

  {% include footer.html %}
  <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="{{ "/assets/js/move-top.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/easing.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/owl.carousel.js" | prepend: site.baseurl }}"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.min.js"></script>
  <![endif]-->

  <script>
    $(document).ready(function() {
      $("span.menu").click(function(){
        $(".top-nav ul").slideToggle(500, function(){
        });
      });

      $().UItoTop({ easingType: 'easeOutQuart' });

      $("#owl-app-desc").owlCarousel({
        items : 1,
        lazyLoad : true,
        autoPlay : true,
        navigation : false,
        navigationText :  false,
        pagination : false,
      });
    });
  </script>
</body>
</html>